<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
 xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">


    <style type="text/css">

        .tdcenter{
            text-align: center;
        }

        .table tr th{
            text-align: center;
        }

        .table tbody tr td{
            vertical-align: middle;
        }

    </style>
</head>
<body>

<div class="panel panel-success">
    <div class="panel-heading">用户列表</div>
    <div class="panel-body">
        <div class="row">

        <form  class="navbar-form navbar-left" name="frm" th:action="@{/user/list}" method="post">
                <div class="form-group">
                    <label class="form-group-addon">条件查询:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="用户名">           
                <span class="form-group-btn">
                    <button class="btn btn-default" type="button">查询</button> <a href="#" class="btn btn-warning"><span class="glyphicon glyphicon-plus">添加</span></a>
                  </span>
                </div>
                <input type="hidden" id="currPage" name="currPage"/>
            </form>
        </div>

    </div>

    <table class="table table-striped table-bordered table-hover ">
        <thead>
        <tr class="label-info" >
            <th style="width:5%"><span style="color:white">序号</span></th>
            <th style="width:20%"><span style="color:white" >用户名</span></th>
            <th><span style="color:white">角色</span></th>
            <th style="width:20%"><span style="color:white">操作</span></th>
        </tr>
        </thead>
        <tbody>
           <tr th:each="item,iterStat:${page.list}">
           		<td th:text="${iterStat.count}"></td>
           		<td th:text="${item.username}"></td>
           		<td >
           			<span th:each="role:${item.rolesList}" th:text="${role.roleName+ ' '}"></span>
               	</td>
           		<td style="width:20%"><a th:href="@{/user/toUpdate(id=${item.id})}" class="btn btn-warning" >设置角色</a>
           			<a href="#" class="btn btn-danger">删除</a></td>
           </tr>
        </tbody>
        </table>
    </div>
    <div>
		共<span th:text="${page.pages}"></span>页 <span th:text="${page.total}"></span>条记录 第<span th:text="${page.pageNum}"></span>页  
		<a href="javascript:go(1)">首页</a> 
		<a href="#" th:if="${page.hasPreviousPage}" th:currPage="${page.prePage}" onclick="go(this)">上一页</a>
		<a href="#" th:if="${page.hasNextPage}" th:currPage="${page.nextPage}" onclick="go(this)">下一页</a>
		<a href="#" th:currPage="${page.pages}" onclick="go(this)">末页</a>
	</div>
</body>
<script th:src="@{/bootstrap/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script>
	function go(obj){
		console.log(obj);
		var currPage = $(obj).attr("currPage");
		console.log(currPage)
		$('#currPage').val(currPage)
		document.frm.submit();
	}
</script>
</html>