<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
        
<mapper namespace="com.perm.mapper.AreaMapper">

    <select id="findTest" resultType="Area">
        select * from tb_area order by create_time desc
    </select>

    <select id="query" parameterType="Area" resultType="Area">
        select * from tb_area
        <where>
            <if test="areaName != null and areaName != ''">
                and area_name like concat('%',#{areaName},'%')
            </if>
            <if test="priority != null and priority != ''">
                and priority=#{priority}
            </if>
            <if test="startDate != null">
                and create_time>=#{startDate}
            </if>
            <if test="endDate != null">
                and create_time&lt;=#{endDate}
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="add" parameterType="Area" useGeneratedKeys="true" keyProperty="areaId">
        insert into tb_area(area_name,priority,create_time,last_edit_time)
        values(#{areaName},#{priority},now(),#{lastEditTime})
    </insert>

    <delete id="del" parameterType="Integer">
        delete from tb_area where area_id=#{id}
    </delete>

    <select id="get" parameterType="Integer" resultType="Area">
        select * from tb_area where area_id=#{id}
    </select>

    <update id="update" parameterType="Area">
        update tb_area set area_name=#{areaName},priority=#{priority},last_edit_time=now() where area_id=#{areaId}
    </update>
</mapper>
