<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perm.mapper.RoleMapper">
    <!-- 返回结果的映射
		   把表中的字段映射到类里的属性
	 -->
  <resultMap type="Role"  id="resultMapRole">
    <id property="id"  column="id" />
    <result property="roleCode" column="role_code"/>
    <result property="roleName" column="role_name"/>
    <!-- ofType:意思是这个集合中存放的对象的数据类型 -->
    <collection property="permsList"  ofType="Permission" javaType="List">
      <id property="id"  column="pid" />
      <result property="permCode" column="perm_code"/>
      <result property="permName" column="perm_name"/>
    </collection>
  </resultMap>

  <select id="selectAll" resultMap="resultMapRole">
    select r.id,r.role_code,r.role_name,p.id pid,p.perm_code,p.perm_name
    from role r
    left join roles_permissions rp on r.id=rp.role_id
    left join permission p on rp.perm_id=p.id
  </select>
    
  <insert id="add" parameterType="Role" useGeneratedKeys="true" keyProperty="id">
    insert into role(role_code,role_name) values(#{roleCode},#{roleName})
  </insert>

  <insert id="addRolePerm" parameterType="Map">
  	insert into roles_permissions(role_id,perm_id) values(#{roleId},#{permId})
  </insert>
  
  <select id="selById" parameterType="Integer" resultMap="resultMapRole">
  	select r.id,r.role_code,r.role_name,p.id pid,p.perm_code,p.perm_name
    from role r
    left join roles_permissions rp on r.id=rp.role_id
    left join permission p on rp.perm_id=p.id
    where r.id=#{id}
  </select>
  
  <update id="update" parameterType="Role">
  	update role set role_code=#{roleCode},role_name=#{roleName} where id=#{id}
  </update>
  
  <delete id="delPermissionByRole" parameterType="Integer">
  	delete from roles_permissions where role_id=#{id}
  </delete>
  
  <delete id="del" parameterType="Integer">
  	delete from role where id=#{id}
  </delete>
  
  <delete id="delUsersRolesByRole" parameterType="Integer">
  	delete from user_roles where role_id=#{id}
  </delete>
  

</mapper>